- page_title "Repository"
= render "projects/settings/head"

- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('common_vue')
  = page_specific_javascript_bundle_tag('deploy_keys')

= render @deploy_keys
= render "projects/push_rules/index"
= render "projects/mirrors/show"

= render "projects/protected_branches/index"
= render "projects/protected_tags/index"
